.row.desktop-home
	.container
		.row.banner

			%h1 music made social
			%p The social media marketing and entertainment platform for musicians that want to gain fans <br> and spread their sound to the world	
			%center
				%button.btn.btn-large.btn-primary JOIN NOW

		.row.content
			.span8.left-content
				.row-fluid.featured
					%h3 Featured
					%ul.thumbnails
						- imageUrls = ["featured1.png", "featured2.png"]
						- imageUrls.each do |img_url|
							%li.span6
								.thumbnail
									= image_tag (img_url)
									.caption
										%h5 Michael Anderson
										%p Lorem ipsum doler tight sight

				.row-fluid.new-recommended
					%h3 New & Recommended
					%ul.thumbnails
						- imageUrls = ["new_recommended1.png", "new_recommended2.png", "new_recommended3.png"]
						- imageUrls.each do |img_url|
							%li.span4
								.thumbnail
									= image_tag (img_url)
									.caption
										%h5 Michael Anderson
										%p Lorem ipsum doler tight sight
					%ul.thumbnails			
						- imageUrls = ["new_recommended3.png", "new_recommended1.png", "new_recommended2.png"]
						- imageUrls.each do |img_url|
							%li.span4
								.thumbnail
									= image_tag (img_url)
									.caption
										%h5 Michael Anderson
										%p Lorem ipsum doler tight sight

				.row-fluid.most-recent
					%h3 Most Recent
					%ul.thumbnails
						- imageUrls = ["new_recommended1.png", "new_recommended2.png", "new_recommended3.png"]
						- imageUrls.each do |img_url|
							%li.span4
								.thumbnail
									= image_tag (img_url)
									.caption
										%h5 Michael Anderson
										%p Lorem ipsum doler tight sight
					%ul.thumbnails			
						- imageUrls = ["new_recommended3.png", "new_recommended1.png", "new_recommended2.png"]
						- imageUrls.each do |img_url|
							%li.span4
								.thumbnail
									= image_tag (img_url)
									.caption
										%h5 Michael Anderson
										%p Lorem ipsum doler tight sight

			.span4.right-content
				.row-fluid.popular-artists
					%h3 Popular Artists
					%ul.thumbnails.thumb-list
						- popularArtists = [{img:"popular4.png", heading:"Michael Anderson", badge:"9.4"}, {img:"popular5.png", heading:"John Doe", badge:"9.7"}, {img:"popular1.png", heading:"Sunil Joshi", badge:"9.1"}, {img:"popular2.png", heading:"Michael Jackson", badge:"8.8"}, {img:"popular3.png", heading:"Jonny Doe", badge:"8.3"}, {img:"popular3.png", heading:"Jonny Doe", badge:"8.3"}, {img:"popular3.png", heading:"Jonny Doe", badge:"8.3"}]

						- popularArtists.each do |artist|					
							%li.span12
								%a.thumbnail
									= image_tag artist[:img]
								.caption
									%h5= artist[:heading]
									%p 9,390,037 followers
									%span.verified Verified

									.pull-right
										%span.popular= artist[:badge]

				.row-fluid.currently-listening
					%h3 Currently Listening
					%ul.thumbnails.thumb-list
						- currentlyListening = ["popular4.png", "popular5.png", "popular1.png", "popular2.png", "popular3.png", "popular2.png", "popular3.png"]

						- currentlyListening.each do |artist|
							%li.span12
								%a.thumbnail
									= image_tag artist
								.caption
									%p{style: "color:#444;"}
										%b OptimistSheba
										is listening to: Nobody's Business @Rihanna Ft. 
										%a @chrisBrown<br>
										(TSoul & @Anhayla Cover) by
										%a TSoul
